
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.Nav{
    background: #ccc;
    padding: 10px;
    width: 100%;
    top: 0;
    display: flex;
    position: sticky;
    justify-content: space-between;
    box-shadow: 0px 0px 15px black;
    border-radius: 0 0 10px 10px;
    align-items: center;
    overflow: hidden;
    z-index: 10000;
}

.Nav .logo{
    /* border: 1px solid red; */
    text-align: center;
}

.Nav .logo h3{
    font-size: 25px;
    color: black;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.Nav .logo h3:hover{
    transform: scale(1.1);
}

.Nav .end{
    margin-right: 1rem;
    display: flex;
    align-items: center;
}

.Nav .end .endtext{
    background: #ffffff;
    padding: 8px;
    font-size: 15px;
    color: #000;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Madimi One", sans-serif;
    font-weight: 600;
    font-style: normal;
    transition: .3s ease-in;
}

.Nav .end .endtext:hover{
    box-shadow: 2px 3px 10px black;
    /* border: 2px solid #686868;  */
}

.Nav .end ul{
    display: flex;
}

.Nav .end ul .li{
    list-style: none;
    text-decoration: none;
    color: #000;
    font-weight: 600;
    margin-right: 1rem;
    transition: .3s ease-in-out;
}

.Nav .end ul .li:hover{
    color: #6d6d6d;
}

@media screen and (max-width: 767px) {
    .Nav .end ul .li {
        font-size: 13px;
    }

    .Nav .logo h3{
        display: none;
    }
}